p{
  Font-family: 'Helvetica Neue';
  color: white;
  text-align: center;
  font-size: 10pt;
  top: 50px;
}
.meow{
  display: inline-block;
  width: 200px;
  height: 200px;
  background: grey;
  transition: all 2s;
}
.red{
  background: red;
}
.green{
  background: green;
}
.black{
  background: black;
}
.button{
  position: absolute;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: red;
}
.button1{
  position: absolute;
  left: 75px;
  top: 75px;
  width: 150px;
  height: 150px;
  background: #1D1D1D;
}
.button:hover{
  background: #C20000;
}
.screen{
  position: absolute;
  right: 90px;
  top: 75px;
  width: 800px;
  height: 460px;
  background: #1D1D1D;
}
.screen1{
  position: absolute;
  right: 65px;
  top: 55px;
  width: 850px;
  height: 510px;
  background: #1D1D1D;
}
.meme{
  background-image: url("../img/kanevsky.jpeg");
}
.whiteblack{
  background-image: url("../img/kanevsky2.jpg");
}
.button2{
  position: absolute;
  left: 75px;
  top: 250px;
  width: 150px;
  height: 150px;
  background: #1D1D1D;
}
.buttonn{
  position: absolute;
  left: 100px;
  top: 275px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: blue;
}
.buttonn:hover{
  background-color: #0B1CB4;
}
